body {
  background-color: #2c3e50;
  color: #95a5a6;
  font-family: Arial, sans-serif;
}


/*Logo image*/
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

h2 {
  color: #27ae60;
  border-bottom: 1px solid #34495e;
  padding-bottom: 5px;
}

/* Imagen del curso */
#imagen-curso {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

p {
  margin-bottom: 15px;
}

section {
  width: 80%;
  margin: 0 auto;
}
#video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  background-color: #000000;
  margin-bottom: 5rem;
}

#video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(40px);
}

#video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 2em;
  text-align: center;
}

footer{
  margin-left: -1rem;
}

@media screen and (max-width: 768px) {
  #imagen-curso {
    width: 20rem;
    height: 20rem;
  }

  main  {
    margin-top: 80px;
  }

  nav {
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    top: 0px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 480px) {
  #imagen-curso {
    width: 10rem;
    height: 10rem;
  }
}
